:root {
    --dark: 36, 36, 35;
    --darkgrey: 51, 53, 51;
    --accentuate: 245, 203, 92;
    --lightgrey: 251, 251, 251;
    --grey: 207, 219, 213;
}

html, body {
    padding: 0;
    margin: 0;
    font-family: 'lmroman';
    letter-spacing: 1px;
}

h1, h2, h3, h4, h5, h6 {
    text-transform: uppercase;
}

.stylize i {
    letter-spacing: 4px;
}

html {
    /* Gradient background */
    background-image: linear-gradient(to top right, rgba(var(--darkgrey),.1) 0%, rgb(var(--lightgrey)) 100%);
}

hr {
    margin: 20px 0px;
    border-top: 1px solid rgb(--var(--dark));
}

.content-container {
    transition: transform .2s ease-in-out, filter .2s ease-in-out;
}

.content-container.next {
    transform: translateX(-100%);
    /* filter: blur(10px); */
}