body {
    /* Take the size of the screen (100vh * number of home-item) */
    height: auto;
    min-height: 100vh;
}

#cv-container {
    text-align:center;
}

img {
    height: 80vh;
}

#cv-container div {
    color: black;
    margin-bottom: 10px;
}

#cv-container a:visited {
    color: black;
}